# Ignore node_modules directory
node_modules/

# Ignore built files
dist/
build/

# Ignore environment-specific files
.env
.env.*

# Ignore logs
*.log

# Ignore npm debug logs
npm-debug.log*

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package lock files
yarn.lock

# Ignore ptoto comile files
*_grpc_pb.js
*_grpc_pb.d.ts
*_pb.js
*_pb.d.ts

docs/